
/* Body-container and their parts css */

/* #body-container{
} */

#body-container{
    background-color: #F6F5F3;
}

#body-container .slide{
    width: 100%;
    height: 675px;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
    background-image: url(img/slide2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#body-container .slide .slide-text{
    transform: translateY(50%);
}

#body-container .slide .slide-text h1{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;                                         
}

#body-container .slide .slide-text h3{
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

#body-container .slide .slide-text h6{
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 70px;
    font-family: 'Martian Mono', monospace;
}

#body-container .slide .slide-text a.bdbtn{
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: none;
}

#body-container .new-product-review{
    width: 100%;
    min-height: 580px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(52, 207, 235, 0.8),rgba(52, 207, 235, 0.8)),url(img/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #2B2A2B;
}

#body-container .new-product-review .product-review{
    width: 40%;
    margin-top: 130px;
    margin-left: 130px;
}

#body-container .new-product-review .product-review .product-name{
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

#body-container .new-product-review .product-review .product-infos{
    width: 80%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    margin-bottom: 50px;
}

#body-container .new-product-review .product-review a{
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: none;
}

#body-container .new-product-review .product-img{
    width: 40%;
    display: flex;
    align-items: center;
}

#body-container .new-product-review .product-img img{
    width: 100%;
    margin-top: 20px;
    /* margin-right:30px ; */
    object-fit: cover;
}

/* builder-part */
#body-container .builder-container{
    width: 100%;
    border-top: 1px solid #2B2A2B;
    display: flex;
    align-items: center;
    justify-content: center;
}

#body-container .builder-container .builder-wrapper{
    width: 72.4%;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#body-container .builder-container .builder-wrapper .builder-img{
    width: 40%;
}

#body-container .builder-container .builder-wrapper .builder-img .img-wrapper{
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* border-radius: 50% 50% 0 0; */
    transition: 0.3s;
}

#body-container .builder-container .builder-wrapper .builder-img a img{
    width: 100%;
    height: 560px;
    border-radius: none;
    transition: 0.3s;
    object-fit: cover;
}

#body-container .builder-container .builder-wrapper .builder-img .img-wrapper:hover{
    /* transform: scale(1.1); */
    border-radius: 50% 50% 0 0;
}

#body-container .builder-container .builder-wrapper .builder-img .img-wrapper:hover img{
    transform: scale(1.1);
    border-radius: 50% 50% 0 0;
}

#body-container .builder-container .builder-wrapper .builder-img h3{
    font-size: 3rem;
    font-weight: 700;
    color: #2B2A2B;
    font-family: 'Dancing Script', cursive;
}

#body-container .builder-container .builder-wrapper .builder-img .link-container{
    border-bottom: 1px solid #2B2A2B;
}

#body-container .builder-container .builder-wrapper .builder-img .link-container a:last-child{
    /* margin-bottom: 1px solid #2B2A2B; */
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px 0;
    text-decoration: none;
    color: #2B2A2B;
}


.featured-products-container{
    border-top: 1px solid #2B2A2B;
    padding-bottom: 100px;
}

.featured-products-container .tiltle{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.featured-products-container .tiltle h1{
    font-size: 5rem;
    font-weight: 700;
    color: #2B2A2B;
    font-family: 'Dancing Script', cursive;
}

.featured-products-container .featured-products{
    width: 100%;
    display: flex;
}

.featured-products-container .featured-products .product-wrapper{
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.featured-products-container .featured-products .product-wrapper .product .product-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.featured-products-container .featured-products .product-wrapper .product .product-price{
    font-size: 1.2rem;
    color: #2B2A2B;
    margin: 10px 0 20px 0;
}

.featured-products-container .featured-products .product-wrapper .product .buy-btn{
    width: 100%;
    background-color: #2B2A2B;
    text-align: center;
    padding: 5px 40px;
}

.featured-products-container .featured-products .product-wrapper .product .buy-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: none;
}

@media (max-width: 768px){
    #body-container .slide{
        margin-top: 110px;
        height: 500px;
        background-position-x: center;
    }
    #body-container .slide .slide-text{
        transform: translateY(20%);
    }
    #body-container .slide .slide-text h1{
        font-size: 3.3rem!important;
    }
    #body-container .new-product-review{
        display: flex;
        flex-direction: column;
        background-position-x: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* text-align: center; */
    }
    #body-container .new-product-review .product-review{
        order: 2;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    #body-container .new-product-review .product-review .product-infos{
        margin: auto;
    }
    .product-btn{
        margin-top: 30px;
    }
    #body-container .new-product-review .product-img{
        order: 1;
        width: 70%;
    }
    #body-container .builder-container .builder-wrapper{
        width: 75%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #body-container .builder-container .builder-wrapper .builder-img{
        width: 100%;
        margin-bottom: 50px;
    }
    #body-container .builder-container .builder-wrapper .builder-img .img-wrapper{
        height: 420px;
    }
    #body-container .builder-container .builder-wrapper .builder-img h3{
        font-size: 2rem;
    }
    .featured-products-container .tiltle{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .featured-products-container .tiltle h1{
        font-size: 3rem;
    }
    .featured-products-container .featured-products{
        width: 100%;
        flex-direction: column;
    }
    .featured-products-container .featured-products .product-wrapper{
        width: 75%;
        margin: auto;
        margin-bottom: 50px;
    }
    .featured-products-container .featured-products .product-wrapper .product .product-img img{
        border-radius: 7px;
    }
}

