@media (max-width: 768px) {
    .footer-bottom {
        display: block;
    }

    .header .nav-menu {
        display: none;
    }
    .header-buttons {
        display: none;
    }
    .header{
        justify-content: center!important;
    }
    .header .logo{
        margin-left: 0!important;
    }
    #header-container .banner-wrapper .banner{
        height: 30px!important;
    }
    #header-container .banner-wrapper .banner .banner-text p{
        font-size: 0.7rem!important;
    }
    .footer-top{
        flex-direction: column;
    }
    footer .footer-logo{
        width: 100%;
    }
    .footer-part-title{
        margin-top: 20px;
        padding-bottom: 0px;
    }
    .footer-part-title h4{
        font-size: 1.5rem;
    }
    footer .footer-link-group{
        width: 100%;
    }
    footer .footer-link-group .footer-link {
        margin-left: 4.16%;
    }
    footer .footer-get-email{
        width: 100%;
        padding-left: 4.16%;
    }
    .footer-bottom .copy-right{
        width: 100%;
        padding-left: 4.16%;
    }
    .footer-bottom .social-link{
        width: 100%;
        margin-top: 30px;
        padding-left: 4.16%;
    }
    body{
        padding-bottom: 700px;
    }

    .btn-menu{
        left: 0;
        top: 45%;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .header .nav-menu {
        display: none;
    }
    #header-container .header{
        position: relative;
    }
    #header-container .header .header-buttons{
        position: absolute;
        right: 0;
        margin-right: 4.16%;
    }
    #header-container .header .header-buttons .btn-secondary{
        display: none;
    }
    #header-container .header .logo{
        margin-left: 0px;
        position: absolute;
        left: 42%;
    }
    .featured-products-container .featured-products{
        justify-content: space-evenly;
    }
    .featured-products-container .featured-products .product-wrapper{
        width: 25%;
    }
    .featured-products-container .featured-products .product-wrapper .product .product-img img {
        height: 270px;
    }
    .btn-menu{
        display: block;
        left : 0;
        top: 29%;
    }
}