
.main{
    width: 80%;
    min-height: 100vh;
    margin: 130px auto;
    font-family: 'Cabin', sans-serif;
}

.yeucau {
    width: 50%;
    float: right;
    position: relative;
    right: 10%;
    font-size: 1.5rem;
}
.thongtin {
    width: 30%;
    text-align: justify;
}
table{
    padding: 0px;
    line-height: 15px;
    border-spacing : 0px 8px;
}
img {
    max-width: 100%;
    height: auto;
}
.ykien{
    width: 100%;
    text-align: justify;
}
.nhap{
    width: 100%;
    background-color: #F6F5F3;
    margin-bottom: 20px;
}

.ndnhap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #2B2A2B;
    padding-bottom: 5px;
    
}

.ndnhap input{
    width: 80%;
    border: none;
    outline: none; 
    background-color: #F6F5F3;
}

.ndnhap input::placeholder{
    padding-left: 10px;
    font-family: 'Cabin', sans-serif;
}

.ndnhap i{
    font-size: 1.5rem;
    color: #2B2A2B;
    cursor: pointer;
}
.guiyeucau input:hover{
    background-color: rgb(193, 107, 107);
    
}
.guiyeucau input{
    background-color: #E3DED7;
    padding: 5px 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    border: 2px solid #2B2A2B;
    font-size: 1.2rem;
}

span{
    font-family: 'Cabin', sans-serif;
}

b{
    font-family: 'Cabin', sans-serif;
}

.thongtin p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
}

.thongtin b{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
}
