#dau {
  background-color: #eceae6;
  height: 60px;
  width: 100%;
}

#thanhcuon {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  background-color: #eceae6;
  z-index: 9999;
}

#nd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  width: 10%;
}

.all {
  width: 100%;
  margin-top: 130px;
  /* display: flex; */
  justify-content: center;
  background-color: #eceae6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.anhnen {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(img/OurStory.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  padding-top: 80%;
  height: 500px;
  padding: 20px;
  margin: auto;
}

.anhnen p {
  text-align: center;
  padding: 20px;
  /* line-height: 0.4; */
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.tieude p {
  text-indent: 25px;
  text-align: justify;
}

.tieude1 p {
  text-indent: 25px;
  text-align: justify;
}

hr {
  width: 100%;
  border: 0, 8px solid #000;
}

.lienket {
  padding: 0;
  border: 2px solid #2b2a2b;
  border-left: none;
  border-right: none;
  width: 100%;
  padding-top: 10px;
  margin: auto;
  transition: font-size 0.2s;
  position: sticky;
  top: 130px;
  left: 0;
  right: 0;
  background-color: #eceae6;
  z-index: 20;
}

.lienket ul {
  list-style: none;
  text-align: center;
}

.lienket li {
  display: inline-block;
  margin: 0 30px;

}

.lienket p {
  text-align: center;
  margin: 5px;
}

.lienket a {
  text-decoration: none;
  color: #6d6868;
}

.lienket i {
  font-size: 30px;
}

.main h1 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  margin: 20px 0px;
}

.tieude {
  width: 60%;
  margin: auto;

}

.tieude1 {


  display: flex;
  width: 80%;
  margin: auto;

}

.so1 {
  padding-right: 30px;
}

#anhh {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.list-img {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.img {
  display: flex;
  transition: transform 0.5s ease;
  max-width: 100%;

}

.dsanh {
  width: 60%;
  margin: auto;

}

.anh {
  display: grid;
  height: auto;
  width: 100%;
}

img {
  margin: auto;
  max-width: 100%;
  height: auto;
}


@media only screen and (max-width:768px) {

  .all{
    margin-top: 110px;
  }
  
  #dau {
    height: 40px;
  }

  .anhnen p{
    font-size: 30px;
  }

  .lienket {
    top: 110px;
  }

  .anhnen {
    height: auto;
  }

  .lienket ul {
    margin: 0;
    padding: 0;
  }

  .lienket li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    font-size: 10px;
  }

  .lienket i {
    font-size: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .tieude {
    width: 90%;
  }

  .so1 {
    padding: 0;
  }

  #anhh {
    max-width: 100%;
    height: auto;
    /* margin: auto; */
  }

  .tieude1 {
    flex-direction: column-reverse;
    width: 90%;
  }

  .list-img {
    width: 100% !important;
    margin: auto;
    overflow: hidden;
  }

  .img {
    display: flex;
    /* transition: transform 0.5s ease; */
    width: 100% !important;
  }

  .dsanh {
    width: 100% !important;
  }

  .anh {
    width: 100% !important;
    height: auto;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) {

  .anhnen {
    font-size: 40px;
  }

  .lienket ul {
    margin: 0;
    padding: 0;
  }

  /* .lienket i{
        font-size: 20px;
      } */
  .lienket li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
    font-size: 20px;
  }

  .lienket i {
    font-size: 40px;
  }

  h1 {
    font-size: 40px;
  }

  .tieude {
    width: 90%;
  }

  .so1 {
    padding: 0;
  }

  .tieude1 {
    flex-direction: column-reverse;
    width: 90%;
  }

  .list-img {
    width: 100% !important;
    margin: auto;
    overflow: hidden;
  }

  .img {
    display: flex;
    /* transition: transform 0.5s ease; */
    width: 100% !important;
  }

  .dsanh {
    width: 100% !important;
  }

  .anh {
    width: 100% !important;
    height: auto;
  }
}