


.menu-cafe li {
    display: inline-block;

    
}

#kien{
    padding-top: 140px;
    width: 80%;
    margin: auto;
}
#product{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    margin-top: 25px;
}
#product article {
    width: 100%;
    margin-right: 40px;
}
#product article img{

    width: 80%;
    height: 320px;
    padding-top: 15px;
    border: 3px;
    border-radius: 50px;
    padding-bottom: 15px;
    transition: 0.3s;
}
#product article img:hover{
    scale: calc(1.05);
}
button {
    margin-right: 35px;
    background-color: #F6F5F3;
    padding: 3px 10px;
    border:2px solid #2B2A2B;
    cursor: pointer;
}

.hide{
    display: none;
}
button.active{
    background-color: black;
    color: white;
}

@media (max-width:768px){
    #kien{
        width: 70%;
    }
    #product{
        display: grid;
        grid-template-columns: auto;
    }
    #product article {
        width: 100%;
        margin-right: 0px;
    }
    #product article img{
        width: 100%;
        height: 350px;
        padding-top: 15px;
        border: 3px;
        border-radius: 10px;
        padding-bottom: 15px;
        transition: 0.3s;
    }
    .menu-class-cafe button{
        margin-right: 0px;
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #product{
        display: grid;
        grid-template-columns: auto auto;
    }
    #product article {
        width: 100%;
        margin-right: 20px;
    }
    #product article img{
        width: 80%;
        height: 350px;
        padding-top: 15px;
        border: 3px;
        border-radius: 10px;
        padding-bottom: 15px;
        transition: 0.3s;
    }
}